mbaill02_xmfma.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT ad:addressbook (ad:contact)*>
<!ATTLIST ad:addressbook xmlns:ad CDATA #REQUIRED>
<!ELEMENT ad:contact ((ad:individual)>
<!ATTLIST ad:contact id ID #REQUIRED>

<!ELEMENT ad:individual (ad:name)>
<!ELEMENT ad:name (ad:firstname,ad:surname)>
<!ELEMENT ad:firstname (#PCDATA)>
<!ELEMENT ad:surname (#PCDATA)>

